services:
  analytics:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: incidents-analytics:latest
    container_name: incidents-analytics
    volumes:
      - ./data:/app/data:ro
      - ./outputs:/app/outputs
    # Para CPUs multi-core, deja que C++ use varios hilos
    deploy:
      resources:
        limits:
          cpus: '2.0'